body{
    background-color:black;
}
body{
    color:white;
}
body{
    font-size:20px;
}
h2{
    font-family: 'Courgette', cursive;
}
h1{
    color:yellow;
}
h2{
    color:blue;
}
h2{
    text-align:center;
}
img src{
    text-align:center;
}